body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}


#master-wrapper {
    position:absolute;
    background-color: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    display:none;
    z-index:105;
    padding:none;
}

#event-info-box {
    position:relative;
    width: 100%;
    height: 100%;
}

.close-box {
    position:relative;
    top:0;
    left: 0;
    z-index:205;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pull-right {
    float:right;
}

.relationship_nav ul {
    list-style: none;
}

.relationship_nav ul li {
    display: inline;
    margin: 10px;
}

.relationship_nav a {
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

.col-md-1 {
    padding-left:3px;
    padding-right:3px;
}

.month-box {
    margin-bottom: 10px;
}

.month {
    width: 100%;
    height: 60px;
    border: 3px solid #000;
    text-align: center;
    box-sizing: border-box;
    padding-top:14px;
    color: #000;
}

.month span {
    font-size:14px;
}

.date_entry {
    width: 96%;
    box-sizing: border-box;
    padding-left:3px;
    padding-right:3px;
    padding-bottom:15px;
    padding-top:5px;
    margin:10px auto;
    opacity:.1;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.date_link {

}

.visible {
    opacity: 1.0;

}

.date_entry_title {
    font-size: 12px;
    text-align:center;
}

.date_entry_date {
    margin:0 auto 10px;
    text-align:center;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border: 2px solid #000;
}

.date_entry_details {
    font-size: 16px;
}

.Anniversary {
    background-color: #a6e1ec;
    font-size: 20px;
    border-radius: 1px 1px 15px 1px;
    -moz-border-radius: 1px 1px 15px 1px;
    -webkit-border-radius: 1px 1px 15px 1px;
}

.Birthday {
    background-color: #eeeeee;
    border-radius: 1px 15px 1px 1px;
    -moz-border-radius: 1px 15px 1px 1px;
    -webkit-border-radius: 1px 15px 1px 1px;
}

.current_month {
    background-color: #333;
    border: none;
    color: #d9534f;
    padding-top: 17px;
}

.current_day {
    background-color: #333;
    border: 2px solid #333;
    color: #d9534f;
}

.content_text {
    font-size:10px;
}

